.layer--instructions {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  transition: width 0.8s 0.2s;
  background-color: white;
  text-align: center;
  overflow: hidden;
  z-index: 45;

  h2 {
    padding-bottom: 0.5em;
  }
}

.div--grey {
  background-color: #f1f1f1;
  height: 6em;
  width: 100vw;
  border-top: 4px solid $gold;
  margin-top: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  p {
    margin: 1em 1.4em;
    padding-top: 10px;
    text-align: left;
  }

  .stepNo {
    float: left;
    font-size: 3.3em;
    font-weight: 600;
    padding-right: 12px;
    margin-top: -18px;
  }
}

svg#clickHorse {
  max-height: 22vh;
  margin-top: 4vh;
}

#playBtn2 {
  bottom: 12px;
  font-size: 1.3em;
}

#circle-in {
  animation: pulse 1s linear infinite;
  transform-origin: 70% 55%;
}

#circle-out {
  animation: pulse 1s linear infinite;
  transform-origin: 70% 55%;
}

@keyframes pulse {
  80% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
